/* style.dark */

body {
  color: #000000 !important;
  background-color: rgb(255, 255, 255) !important;
}

/* navbar start */
.navbar {
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 0 2px 1px rgba(221, 220, 220, 0.24) !important ;
}

.navbar .navbar-logo {
  color: #4e9f3d !important ;
}

.hero .deskripsi .last-name {
  color: #000000 !important;
  font-weight: bold !important;
}

/* Bagian About */

.about {
  background-color: #e2c391 !important;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 195, 145, 1) 9%
  ) !important;
}

.about::after {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 195, 145, 1) 14%
  ) !important;
}

.about .card {
  color: black;
}

.about .card .card-item {
  background-color: #fff;
}

.about .card .card-item h3 a {
  color: black;
}

.about .card .card-item h3:hover {
  color: #4e9f3d;
}

/* projects */

.project {
  margin-top: 0;
  /* background-color: #9bbec7; */
  background: rgb(226, 195, 145);
  background: linear-gradient(
    180deg,
    rgba(226, 195, 145, 1) 13%,
    rgba(155, 190, 199, 1) 17%
  );
}

.project .container .row .image {
  border: 1px solid black;
}

.bold {
  font-weight: bold;
}

.project .container .row .description {
  color: #000;
}

.bold a {
  color: #080808;
}

.contact .contact-flex form .form-group input {
  border: 1px solid #000000;
  color: #141414;
}

textarea {
  color: #0e0d0d;
  border: #050505 solid 1px;
}

.form-group label::after {
  color: #4e9f3d;
}

.cta {
  color: #fff;
}

.cta:hover {
  background-color: #4d9f3d93;
}

footer {
  background-color: #2221217c;
}

footer .social a {
  color: #4e9f3d;
}

footer .social a:hover {
  color: #fff !important;
}
